<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css' />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center"><%= title %></h1>
        </div>
      </div>
      <div class="row">
        <% listings.forEach(function(listing){ %>
<div class="col-md-4 mb-2">
  <div class="card text-center bg-light">
    <div class="card-body">
      <%= listing %>
    </div>
  </div>
</div>
       <% }) %>
      </div>
    </div>
  </body>
</html>
